:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --scroll-color: rgba(0, 52, 104, 0.8);
    --gradient-right-color: linear-gradient(to right, #3097ca, #003468);
    --gradient-bottom-color: linear-gradient(to bottom, #3097ca, #003468);
    --primary-color: #003468;
    --header-height: 156px;
    --header-nav-min-height: 50px;
    --nav-mobile-width: 300px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

::-webkit-scrollbar-track {
    background: #e6e6e6;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.pd-none {
    padding: 0 !important;
}

.display-none {
    display: none;
}

.text--highlight-red {
    color: #ff0000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

