/* Mobile and Tablet */
@media (max-width: 1023px) {
    .container__item {
        padding-top: 0;
    }

    .container__slider{
        margin: 0 -15px !important;
    }

    .container-nav__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .phone-banner-pagination {
        display: none;
    }

    .phone-banner__btn-prev,
    .phone-banner__btn-next {
        display: flex;
        opacity: 0.85;
    }

    .footer-bottom-1,
    .footer-bottom-2{
        padding-left: 0;
    }   
}

/* PC with min screen */
@media (min-width: 1024px) and (max-width: 1239px) {
    .container__slider{
        margin: 0 !important;
    }

    .video1,
    .video2 {
        width: 100%;
        height: 49%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .container__banner{
        margin: 0;
    }

    .container__product{
        margin-top: 16px;
    }

    .header-logo-icon,
    .header-logo-text{
        font-size: 32px;
    }

    .row-fluid{
        width: 100%;
    }

    .img10{
        max-height: 100%;
        width: 100%;
        height: auto;
    }

    .areas-item{
        margin-bottom: 16px;
    }

    .ty-center{
        font-size: 18px;
    }

    .group-title{
        margin-bottom: 16px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .container__product{
        margin-top: 0;
        padding: 0;
    }

    .container-nav__heading{
        font-size: 1.4rem;
    }

    .phone-banner__btn-prev, .phone-banner__btn-next{
        font-size: 25px;
        width: 35px;
        height: 35px;
    }

    .container-new{
        padding: 12px 0;
    }

    .footer-mail__input{
        width: 176px;
    }

    .footer-text {
        margin-bottom: 52px;
    }

    .footer-nav-mobile__list {
        display: flex;
    }

    .go-to-top{
        display: none;
    }

    .go-to-chat__icon{
        font-size: 4rem;
    }

    h2 a{
        font-size: 18px;
    }

    .uudai-docquyen h2{
        margin-bottom: 16px;
    }

    .uudai-docquyen .link .span3 a{
        font-size: 14px;
    }

    .uudai-docquyen .link .span2 a{
        font-size: 14px;
    }

    .uudai-docquyen .link .span3::after{
        font-size: 28px;
        top: 3px;
    }

    .row-fluid{
        width: 100%;
    }

    .img10{
        max-height: 100%;
        width: 100%;
        height: auto;
    }

    .areas-item{
        margin-bottom: 16px;
    }

    .ty-center{
        font-size: 16px;
        margin: 4px 0 12px;
    }

    .content-title,
    .group-title{
        margin: 16px 0 12px;
    }

    .content-title h2,
    .group-title h2{
        font-size: 2rem;
        line-height: 2rem;
    }

    .content-p{
        font-size: 15px;
        font-weight: normal;
    }

    .areas-item{
        padding: 10px 4px;
        margin-bottom: 8px;
    }

    .areas-item a{
        font-size: 1.6rem;
    }

    .logo + .logo{
        margin-left: 0;
    }

    .img15{
        margin-left: 8px;
        width: 75%;
    }
}