/* Mobile and Tablet */
@media (max-width: 1023px) {
    :root {
        --header-nav-min-height: 40px
    }

    .hide-on-mobile-and-tablet {
        display: none;
    }

    .display-on-mobile-and-tablet {
        display: block;
    }

    .header-with-search__wrap {
        justify-content: space-between;
    }

    .header-logo__link{
        margin: 0 0 4px;
        height: 60px;
    }

    .header-logo-icon,
    .header-logo-text{
        font-size: 36px;
    }

    .container__item {
        padding-top: 0;
    }

    .container__slider{
        margin: 0 -15px !important;
    }

    .container-nav__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .phone-banner-pagination {
        display: none;
    }

    .phone-banner__btn-prev,
    .phone-banner__btn-next {
        display: flex;
        opacity: 0.85;
    }

    .footer-bottom-1,
    .footer-bottom-2{
        padding-left: 0;
    }   
}

/* PC with min screen */
@media (min-width: 1024px) and (max-width: 1239px) {
    :root {
        --header-height: 266px;
    }

    .header-nav {
        margin-bottom: 14px;
    }

    .header-nav__item {
        padding: 0;
    }

    .header-nav__info--mobile{
        display: none;
    }

    .header__nav-item + .header__nav-item{
        margin-left: 1.8rem;
    }

    .header-logo__link{
        margin: 2px 0 8px;
        height: 80px;
    }

    .header-logo-icon,
    .header-logo-text{
        font-size: 40px;
    }

    .header-menu{
        margin: 0;
    }

    .header-menu__item{
        padding: 0 16px;
    }

    .header-with-search__wrap {
        flex-direction: column;
    }

    .header-search {
        width: 100%;
    }

    .header-sub-menu {
        left: -200%;
    }

    .container__slider{
        margin: 0 !important;
    }

    .video1,
    .video2 {
        width: 100%;
        height: 49%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 70px;
    }

    .container {
        margin-top: calc(var(--header-height));
    }

    .header {
        position: fixed;
    }

    .header-nav {
        display: none;
    }

    .header-mobile-nav {
        display: block;
    }

    .container__banner{
        margin: 16px 8px 0 8px;
    }

    .container__product{
        margin-top: 16px;
    }

    .header-logo-icon,
    .header-logo-text{
        font-size: 32px;
    }

    
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 50px;
    }

    .header {
        position: fixed;
    }

    .container {
        margin-top: calc(var(--header-height));
    }
    
    .hide-on-mobile {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .header-logo__link{
        margin-left: 0;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    
    .header-logo-icon,
    .header-logo-text{
        color: var(--white-color);
        font-size: 2.7rem;
        margin: 0;
        padding: 0;
    }

    .header-logo-icon{
        padding-right: 10px;
    }

    .header-with-search__wrap {
        padding: 0 4px;
    }

    .header-mobile-menu__icon,
    .header-mobile-search__icon {
        font-size: 2.4rem;
        padding: 10px;
    }

    .header-mobile-nav {
        display: block;
        width: 100%;
    }

    .container__product{
        margin-top: 0;
        padding: 0;
    }

    .container-nav__heading{
        font-size: 1.8rem;
        letter-spacing: .2em;
    }
    .container-nav__heading h3{
        font-size: 1.8rem;
    }

    .phone-banner__btn-prev, .phone-banner__btn-next{
        font-size: 25px;
        width: 35px;
        height: 35px;
    }

    .container__banner{
        display: none;
    }

    .container-new{
        padding: 12px 0;
    }

    .footer__heading {
        margin-top: 24px;
    }
    
    .footer-policy__list{
        margin-bottom: 0;
    }

    .footer-mail__input{
        width: 176px;
    }

    .footer-text {
        margin-bottom: 52px;
    }

    .footer-nav-mobile__list {
        display: flex;
    }

    .go-to-top{
        display: none;
    }

    .go-to-chat__icon{
        font-size: 4rem;
    }
}